// #############
//    COLORS
// #############
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-grey: hsl(222, 7%, 71%);
$color-light-gray: hsl(212, 45%, 89%);
$color-grayish-blue: hsl(220, 15%, 55%);
$color-dark-blue: hsl(218, 44%, 22%);

// #################
//    FONTS FAMILY
// #################
$ff-primary: 'Outfit', sans-serif;

// #################
//    FONTS SIZE
// #################
$fs-primary: 15px;

// #################
//    FONTS WEIGHT
// #################
$fw-normal: 400;
$fw-bold: 700;
